
<!DOCTYPE HTML>
<html lang="en">
<head>
			<title>สมัครสมาชิก -  AK29KING เว็บพนันบอลออนไลน์ ที่ดีที่สุดในไทย สมัคร ฝาก-ถอน ออโต้ 10 วิ บริการตลอด 24 ชั่วโมง </title>
		<meta name="description" content=" AK29KING เว็บพนันบอลออนไลน์ ที่ดีที่สุดในไทย สมัคร ฝาก-ถอน ออโต้ 10 วิ บริการตลอด 24 ชั่วโมง ">
	<meta name="keyword" content="เว็บพนันบอลออนไลน์,akbet,casino,สล็อตออนไลน์">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	<style>
		:root {
			--base-color-1: rgb(36,8,8);
			--base-color-2: rgb(0,16,50);
			--base-color-3: rgb(0,75,161);
			--base-color-4: rgb(1,54,107);
			--base-color-5: rgb(1,44,94);
			--base-color-6: rgb(195,127,0);
			--base-color-7: rgb(236,173,0);
			--base-color-8: rgb(241,236,77);
			--base-color-9: rgb(127,3,3);
			--base-color-10: rgb(180,0,0);
			--base-color-11: rgb(0,9,36);
			--base-color-12: rgb(37,37,37);
		}
	</style>
	<link rel="stylesheet" href="https://www.ak29king.com/assets/css/style.css?=2021-09-05">
	<!-- Animate CSS -->
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" />-->
	<script src="https://www.ak29king.com/assets/plugins/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<!-- responsive -->
	<link rel="stylesheet" href="https://www.ak29king.com/assets/css/mobile.css?=2021-09-05">
	<link rel="stylesheet" href="https://www.ak29king.com/assets/css/custom.css?=2021-09-05">
	<script src="https://www.ak29king.com/assets/plugins/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<style>

	</style>
</head>
<body>
<input type="hidden" id="base_url" value="https://www.ak29king.com/"/>
<script src="https://www.ak29king.com/assets/plugins/vue.min.js?2021-09-05" ></script>
<!-- Lastly add this package -->
<script src="https://www.ak29king.com/assets/plugins/accounting-js.js?2021-09-05"></script>
<script src="https://www.ak29king.com/assets/plugins/vue-numeric.min.js?2021-09-05"></script>
<script src="https://www.ak29king.com/assets/plugins/qs.min.js?2021-09-05"></script>
<script src="https://www.ak29king.com/assets/plugins/vue-loading-overlay.min.js?2021-09-05"></script>
<!-- Init the plugin and component-->
<script src="https://www.ak29king.com/assets/plugins/axios.min.js?2021-09-05"></script>
<script src="https://www.ak29king.com/assets/scripts/main.js?2021-09-05"></script>
<div id="app">
	<div style="min-height:850px;">

		<div class="top-bar" id="header_menu">
	<div class="d-flex justify-content-between">
		<div class="align-self-center">
			<!-- FixChange -->
			<img class="brand-logo" src="https://ak29king.com/assets/images/logo.png" alt="">
			</a>
		</div>
		<div class="d-flex justify-content-center">
							<div class="align-self-center mx-1">
					<img class="online-icon" src="https://www.ak29king.com/assets/images/online.gif" alt="" width="30">
				</div>
				<div class="align-self-center text-center mx-1">
					<div class="">
						<button class="btn btn-login-top" data-toggle="modal" data-target="#loginModal">
							เข้าสู่ระบบ						</button>
					</div>
				</div>
				<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<loading :active.sync="pre_loader"
			 :can-cancel="false"
			 :width="80"
			 :height="60"
			 :opacity="0.2"
			 color="#fff"
			 :is-full-page="true"></loading>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center py-2">
					<img src="https://ak29king.com/assets/images/logo.png" alt="" width="30%">
				</div>
				<div class="form-login">
					<div class="">
						<div class="input-group mb-3">
							<input type="tel" class="form-control" name="username" id="username" ref="username" v-model="form.username"  placeholder="เบอร์มือถือ">
						</div>
						<div class="input-group mb-3">
							<input type="password" name="password" id="password" ref="password" v-model="form.password" class="form-control" placeholder="รหัสผ่าน">
						</div>
						<div class="pb-1 login-desktop text-center">
							<button type="button" class="btn btn-lg btn-login" @click.prevent="doLogin" >เข้าสู่ระบบ</button>
						</div>
						<div class="pb-1 login-mobile text-center">
							<button type="button"  class="btn btn-lg btn-login" @click.prevent="doLogin" >เข้าสู่ระบบ</button>
						</div>
					</div>
					<div class="footer-form py-3">
						<div class="row ">
							<div class="col-7">
								<span class="text-white">ท่านยังไม่มีบัญชี?</span> <a href="https://www.ak29king.com/register" style="" class="text-white"><u>สมัครสมาชิก</u></a>
							</div>
							<div class="col-5 text-right">
								<a href="https://lin.ee/djVMkd2" target="_blank" class="text-decoration-none text-white">ลืมรหัสผ่าน ?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	let login_username = "";
	let login_password = "";
</script>
<script type="text/javascript" src="https://www.ak29king.com/assets/scripts/login.js?1630851638"></script>
			

			<div class="align-self-center mx-1">
				<img class="top-line" src="https://www.ak29king.com/assets/images/line.png" alt="" height="80">
			</div>
			<div class="btn-group align-self-center text-center mx-1">
				<a href="?lang=th" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="flag" src="https://www.ak29king.com/assets/images/flag/thai.png" alt="" width="40">
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="?lang=th"><img class="" src="https://www.ak29king.com/assets/images/flag/thailand.png" alt="" width="100%"></a>
					<!-- <a class="dropdown-item" href="#"><img class="" src="assets/images/flag/myanmar.png" alt="" width="100%"></a> -->
					<a class="dropdown-item" href="?lang=en"><img class="" src="https://www.ak29king.com/assets/images/flag/english.png" alt="" width="100%"></a>
				</div>
			</div>
		</div>
	</div>
	</div>
<div class="secon-bar">
	<div class="row mx-auto">
					<div class="col-2 pl-1">

			</div>
		        <div class="col-7 col-sm-8 align-self-center">
			<div class="center-header">
				คาสิโนออนไลน์ที่ดี AK29KING                <p class="mb-0">
					<a href="https://lin.ee/djVMkd2" target="_blank">
						<button class="btn btn-outline-light"><img class="" src="https://www.ak29king.com/assets/images/icons/line.png" alt="" width="20"> <span class="text-white" style="font-size: 0.8rem;">ติดต่อไลน์</span></button>
					</a>
				</p>
			</div>
		</div>
		<div class="col-3 col-sm-2 justify-content-end">
				</div>

	</div>
</div>
		<div id="auth_register">
			<script>
				let page_id = 'auth_register';
			</script>
			<div v-if="step == '1'">
	<div class="register-header">
		<img src="https://www.ak29king.com/assets/images/step1.png" alt="">
	</div>
	<!-- <div class="red-line mx-auto"></div> -->
	<div class="form-register text-center">
		<div class="register-text">
			<div class="text-center">
				<span class="text-silver">กรุณากรอกเบอร์มือถือ จำนวน 10 หลัก</span>
			</div>
			<div class="text-center">
				<span class="text-silver">เพื่อระบุ OTP ถัดไป</span>
			</div>
		</div>

		<div class="mt-4">
			<div class="input-desktop">
				<div class="input-group mb-4">
					<div class="input-group-prepend">
						<span class="input-group-text"><img src="https://www.ak29king.com/assets/images/phone2.png" alt="" width="20"></span>
					</div>
					<input type="tel" class="form-control" id="phone" maxlength="10" name="phone" v-model="form.phone" placeholder="เบอร์มือถือ">
				</div>
			</div>
			<div class="text-center">
				<button type="button" @click.prevent="sendOtp" class="btn btn-custom btn-submit">
					<span>ยืนยัน</span>
				</button>
			</div>
		</div>

	</div>
</div>
<div v-else-if="step == '2'">
	<div class="register-header">
		<img src="https://www.ak29king.com/assets/images/step2.png" alt="">
	</div>
	<div class="form-register text-center">
		<div class="register-text-2">
			<div class="text-center">
				<div class="text-white">ระบบได้ส่งรหัสไปทาง SMS เบอร์มือถือท่าน</div>
			</div>
			<div class="text-center">
				<div class="text-white">กรุณากรอกรหัสที่ได้รับเพื่อยืนยันตน</div>
			</div>
		</div>
		<div class="mt-4">
			<div class="d-flex justify-content-center mb-3">
				<div class="text-white align-self-center"><span>{{form.phone}}</span></div>
			</div>
			<div class="input-group mb-2 mb-lg-2">
				<div class="input-group-prepend">
					<div class="input-group-text input-text"><img src="https://www.ak29king.com/assets/images/pin.png" alt="" width="25"></div>
				</div>
				<input type="text" class="form-control" id="otp" maxlength="6" name="otp" v-model="form.otp" placeholder="รหัส OTP">
			</div>
			<div class="pl-2 text-left mb-3">
				<div class="text-silver"><a href="javascript:{}" @click.prevent="sendOtp"><img class="mr-1" src="https://www.ak29king.com/assets/images/refresh.png" alt="" width="10"> <small>ส่งรหัสยืนยันใหม่อีกครั้ง</small></a></div>
			</div>
			<div class="text-center">
				<button type="button" @click.prevent="checkOtp" class="btn btn-custom btn-submit">
					<span>ยืนยัน</span>
				</button>
			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="text-white">หากไม่ได้รับ SMS กรุณาติดต่อเจ้าหน้าที่</div>
	</div>
</div>
<div v-else-if="step = '3'">
	<div class="register-header">
		<img src="https://www.ak29king.com/assets/images/step3.png" alt="">
	</div>
	<div class="form-register text-center">
		<div class="register-text">
			<div class="text-center">
				<div class="text-white">เพิ่มบัญชีธนาคาร</div>
			</div>
		</div>
		<div class="mt-4">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text"><img src="https://www.ak29king.com/assets/images/phone2.png" alt="" width="25"></span>
				</div>
				<input type="tel" class="form-control" id="phone" maxlength="10" readonly name="phone" v-model="form.phone" placeholder="เบอร์มือถือ">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text"><img src="https://www.ak29king.com/assets/images/pin.png" alt="" width="25"></span>
				</div>
				<input type="password" class="form-control" id="password" maxlength="15" name="password" v-model="form.password" placeholder="รหัสผ่าน">
			</div>

			<div class="d-flex justify-content-center align-self-center icon-bank-box">
				<div class="mx-1 d-none d-sm-inline-block bank-box-img">

				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('01')" src="https://www.ak29king.com/assets/images/banks/1.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('02')" src="https://www.ak29king.com/assets/images/banks/2.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('03')" src="https://www.ak29king.com/assets/images/banks/3.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('06')" src="https://www.ak29king.com/assets/images/banks/4.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 d-none d-sm-inline-block bank-box-img">

				</div>
			</div>
			<div class="d-flex justify-content-center align-self-center icon-bank-box">
				<div class="mx-1 d-none d-sm-inline-block bank-box-img">

				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('04')" src="https://www.ak29king.com/assets/images/banks/5.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('05')" src="https://www.ak29king.com/assets/images/banks/6.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('07')" src="https://www.ak29king.com/assets/images/banks/7.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 bank-box-img">
					<img class="bank-img" @click.prevent="chooseBank('09')" src="https://www.ak29king.com/assets/images/banks/9.png?2021-09-05" alt="">
				</div>
				<div class="mx-1 d-none d-sm-inline-block bank-box-img">

				</div>
			</div>
			<div class="input-group mb-3 mt-2">
				<div class="input-group-prepend">
					<span class="input-group-text">
					  <img src="https://www.ak29king.com/assets/images/user.png" alt="" width="25">
					</span>
				</div>
				<input type="text" class="form-control" id="full_name" maxlength="100" name="full_name" v-model="form.full_name" placeholder="ระบุชื่อ-นามสกุลบัญชี">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
				  <span class="input-group-text">
					<img src="https://www.ak29king.com/assets/images/bank-icon.png" alt="" width="25">
				  </span>
				</div>
				<input type="tel" class="form-control" id="bank_number" maxlength="15" name="bank_number" v-model="form.bank_number" placeholder="กรุณาระบุเลขที่บัญชี">
			</div>
			<div class="mb-3">
				<div class="text-center">
					<small class="text-white">*ข้อมูลบัญชีที่ถูกบัญทึกไปแล้วจะไม่สามารถแก้ไขเองได้</small>
				</div>
				<div class="text-center">
					<small class="text-white">กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนบันทึก</small>
				</div>
			</div>

			<div class="text-center">
				<button type="button" @click.prevent="doRegister" class="btn btn-custom btn-submit">
					<span>ยืนยัน</span>
				</button>
			</div>
		</div>
	</div>
</div>
<loading :active.sync="pre_loader"
		 :can-cancel="false"
		 :width="80"
		 :height="60"
		 :opacity="0.2"
		 color="#fff"
		 :is-full-page="true"></loading>
<script>
	const register_step = "2";
	const register_data = JSON.parse('{"phone":"935 955 90"}');
</script>
<script>
	$(document).ready(function () {
		$(document).on('click','.icon-bank-box img',function(){
			$('.icon-bank-box img').removeClass('active')
			$(this).addClass('active')
		});
	});
</script>
<script type="text/javascript" src="https://www.ak29king.com/assets/scripts/register.js?1630851638"></script>
		</div>
	</div>
	<footer style="bottom:0;width: 100%;" class="">
	<div class="d-flex justify-content-center mb-4 align-items-center">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/2.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/6.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/3.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/1.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/4.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/5.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/9.png?t=2021-09-05"  alt="">
		<img class="d-block mx-1 bank-footer" src="https://www.ak29king.com/assets/images/banks/7.png?t=2021-09-05"  alt="">
	</div>
	<div class="text-center footer-text">
		Copyright 2021 © AK29KING | All Rights Reserved
	</div>
</footer>

	<script src="https://www.ak29king.com/assets/plugins/numeral/min/numeral.min.js"></script>
	<script type="text/javascript" src="https://www.ak29king.com/assets/scripts/custom.js?2021-09-05"></script>
	</div>
</body>
